@model ProyectoLaRuta.Models.Community

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Community</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <input asp-for="CreatorId" class="form-control" />
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllowsPosts" class="control-label"></label>
                <input asp-for="AllowsPosts" class="form-control" />
                <span asp-validation-for="AllowsPosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostRules" class="control-label"></label>
                <input asp-for="PostRules" class="form-control" />
                <span asp-validation-for="PostRules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BannerPublicId" class="control-label"></label>
                <input asp-for="BannerPublicId" class="form-control" />
                <span asp-validation-for="BannerPublicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BannerUrl" class="control-label"></label>
                <input asp-for="BannerUrl" class="form-control" />
                <span asp-validation-for="BannerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoPublicId" class="control-label"></label>
                <input asp-for="LogoPublicId" class="form-control" />
                <span asp-validation-for="LogoPublicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoUrl" class="control-label"></label>
                <input asp-for="LogoUrl" class="form-control" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
